
ul{
  padding: 0px;
}

li{
  
}
p{
  margin: 0px;
}


.percentage_counter .whole{
  width:200px;
  height: 160px;
  display:block;
  position:relative;
  background:pink;
}


.percentage_counter .couter_wrap{
  display: block;
  position: relative;
  float: left;
  /* background:blue; */
  height: 100%;
  width: 28%;

}


.percentage_counter .degital_style{
  position: absolute;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  /* background:yellow; */

  top: 35%;
  left: 0px;
  height: 30%;
  width: 100%;

  font-size: 40px;
}
.percentage_counter .couter_wrap.denominator{
  width: auto; 
  
}
.percentage_counter .degital_style.denominator{ 
  justify-content:left;
  align-items: flex-end;
  font-size: 24px;
}

.percentage_counter .denominator_style{
  
}





/* Animation */

.numeratordegi-enter {
  opacity: 0.00;
  transform: translate(0px, 80%) rotate3d(1, 0, 0, 60deg);
}
.numeratordegi-enter.numeratordegi-enter-active {
  opacity: 1;
  transform: translate(0px,0px);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-out;

}
.numeratordegi-exit {
  opacity: 1.0;
  transform: translate(0px,0px);
  z-index: 0;
}
.numeratordegi-exit.numeratordegi-exit-active  {
  opacity: 0.000;
  transform: translate(0px,-80%) rotate3d(1, 0, 0, -60deg);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-out;

}


.fade-enter {
  opacity: 0.0;
}
.fade-enter.fade-enter-active {
  opacity: 0.5;
  transition: opacity 500ms  ease-in-out;
}
.fade-leave{
  opacity: 1.0;
}
.fade-leave.fade-leave-active  {
  opacity: 0.0;
  transition: opacity 500ms ease-in-out;
}
.fade-exit {
  opacity: 0.5;
}
.fade-exit.fade-exit-active  {
  opacity: 0.0;
  transition: opacity 500ms ease-in-out;;
}
